<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>User info</h1>
      <%= form_for(@user) do |f| %>
      <%= render 'books/error', model: @user %>
        <div class="from-grouo">Name</div>
          <%= f.text_field :name %>
        <div class="from-grouo">Image</div>
          <%= f.attachment_field :profile_image %>
        <div class="from-grouo">Introduction</div>
          <%= f.text_area :introduction %><br>
        <div class="from-grouo">
          <%= f.submit " Update User", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>